<div class="col-2" height="100%" style="background-color: #f50057;">
    <div class="row w-100 mb-5 p-2 d-flex justify-content-center">
        <!-- <img  src="../../resources/logo-white.svg"> -->
    </div>

    <div class="row w-100 d-flex justify-content-center">
        <div class="d-flex m-1 w-100 flex-row align-items-center">
            <i class="col-2 color-branco fa-solid fa-boxes-stacked"></i>
            <spans class="col-8 fs-5"><a class="color-branco" href="/repositorios/listagem">Catálogo API's</a></spans>
        </div>
        <div class="d-flex m-1 w-100 flex-row align-items-center">
            <i class="col-2 color-branco fa-solid fa-magnifying-glass"></i>
            <spans class="col-8 fs-5"><a class="color-branco" href="/repositorios/procurar">Procurar texto</a></spans>
        </div>

    </div>
</div>